@import url('https://fonts.googleapis.com/css2?family=Pochaevsk&display=swap');
@import "tailwindcss";

:root {
  --primary: #954d00;
  --secondary: #3498db;
  --tertiary: #3498db;
}

.font-primary {
  font-family: "Pochaevsk", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bg-primary {
  /* background: linear-gradient(to right, var(--primary), rgb(58, 24, 0)) */
  background: linear-gradient(to right, var(--primary) 30%, rgb(111, 52, 0) 40%, var(--primary) 70%);
  /* background-color: var(--primary); */
}

.logo {
  background-image: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}